.contacto{
    box-sizing: border-box;
    background: var(--background-azul-claro);
    padding-top: 3em;
    padding-bottom: 3em;
}
.contacto-contenido {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    position: relative;
    
    
}
.contacto-logo-alura{
    position: absolute;
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    

}
.contacto-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 10rem;
    gap: 0.6rem;
    min-width: max-content;
    padding-left: 250px;
}

    

.contacto-info a{
    display: flex;
    color: var(--fuente-oscuro);
    font-size: 1rem;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
}
.contacto-formulario{
    flex: 2;
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
    align-items: flex-start;
}
.contacto-formulario h2{
    display: flex;
    font-weight: bold;
    
}
.contacto-formulario button{
    display: flex;
    background-color: var(--color-azul-fuerte, #2A7AE4);
    border: none;
    cursor: pointer;
    color: var(--color-blanco, #FFFFFF);
    font-family: var(--font-family, Raleway, sans-serif);
    text-decoration: none;
    width: 6rem;
    padding: 0.45rem;
    align-items: center;
    font-size: var(--button-font-size);
    justify-content: center;
    height: 2.2rem;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

#mensaje-enviado {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  z-index: 1000;
}

.mensaje-enviado-contenido {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mensaje-enviado-contenido p {
  margin-bottom: 20px;
  text-align: center;
}

.mensaje-enviado-contenido button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

