header{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    background: var(--background-blanco);
}
.header-nav{
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 1rem;
    position: relative;
}
.barra-busqueda {
    position: relative;
    border-radius: 34px;
    background-color: var(--background-ceniza-claro);
    width: 40%;

  }
  
  #busqueda-formulario {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
  }
  
  .campo-busqueda {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 39%;
  }
  
  .boton-busqueda[type="submit"] {
    width: 50px;
    height: 100%;
    background-color: #007bff;
    border: none;
    border-radius: 1rem;
    color: #fff;
    cursor: pointer;
    
  }
  
  .icono-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .icono-busqueda i {
    font-size: 1.2rem;
  }
.header-login{
    margin-left:140px;
}
.header-boton-login {
    background: var(--background-blanco);
    color: var(--fuente-enlace);
    border: 1px solid var(--fuente-enlace);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    width: 8.58rem;
    font-size: 11px;
    height: 2.5rem;
    position: relative;
    flex-wrap: wrap;
    align-content: center;
    
}
.mini-busqueda{
    display: none;
}
.resultados-busqueda{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.resultados-busqueda a{
    color: var(--fuente-oscuro-50);
    font-size: 1rem;
    padding: 5px;
    background: var(--background-blanco);
    width: 100%;
   
}   